{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block body %}
<script>
function Plas(orderId) {
    fetch('http://127.0.0.1:5000/cart1/' + orderId,
        {method: 'POST'}
    )
    location.reload();
}
function Minus(orderId) {
    fetch('http://127.0.0.1:5000/cart2/' + orderId,
        {method: 'POST'}
    )
    location.reload();
}
function Delete(orderId) {
    fetch('http://127.0.0.1:5000/cart3/' + orderId,
        {method: 'POST'}
    )
    location.reload();
}
</script>
 <table>
      <thead>
      <meta http-equiv=”refresh” content=”0″>
        <tr>
          <th>Фото</th>
          <th>Наименование товара</th>
          <th>Цена</th>
          <th>Количество</th>
            <th>+1</th>
            <th>-1</th>
            <th>Удалить</th>
        </tr>
      </thead>
        {% for us in all_users %}
        {% if us.name == user %}
        {% for or in orders %}
        {% if or.order_id == us.id %}
        {% for el in items %}
        {% if or.item_id == el.id %}

      <tbody>
          <td><img width="300px" height="200px" src={{ el.image }} alt="Кроссовки Adidas UltraBoost 21"></td>
          <td>{{ el.name }}</td>
          <td>{{ el.price }} руб </td>
          <td>{{ or.quantity }} штук</td>
          <td> <button onclick="Plas({{ or.id }})" type="button"> + </button></td>
          <td> <button onclick="Minus({{ or.id }})" type="button"> - </button></td>
          <td> <button onclick="Delete({{ or.id }})" type="button"> Удалить </button></td>
      </tbody>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% endif %}
            {% endfor %}
      </table>
<h2>{{ allcost }} </h2>
{% endblock %}