{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
<div class = "container mt-5">
<h1>Добавление кросовок</h1>
    <form method="post">
        <h5>Введите имя кроссовок</h5>
        <input type="text" name="name" id="name" class="form-control"><br>
        <h5>Введите цену кроссовок</h5>
         <input type="number" name="price" id="price" class="form-control"><br>
        <h5>Введите размер кроссовок</h5>
         <input type="number" name="size" id="size" class="form-control"><br>
        <input type="submit" class="btn btn-success" value="Отправить"><br>
    </form>
</div>
{% endblock %}