{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block body %}
<div class="about-us">
  <h1>О нас</h1>
  <p>Мы являемся сайтом по продаже кроссовок, который предлагает широкий выбор кроссовок от всех ваших любимых брендов. У нас есть команда экспертов по кроссовкам, которые страстно желают помочь вам найти идеальную пару кроссовок, соответствующую вашим потребностям. Мы также предлагаем гарантию удовлетворенности на все наши продукты, так что вы можете быть уверены, что получаете качественный продукт.</p>
  <p>Если у вас есть какие-либо вопросы, пожалуйста, не стесняйтесь обращаться к нам по адресу <a href="mailto:info@sneakers.com">info@sneakers.com</a> или позвоните нам по номеру at +7-(777)-777-77-77.</p>
  <h2>Условия возврата</h2>
  <p>Мы предлагаем 30-дневную политику возврата всех наших товаров. Если вы не удовлетворены своей покупкой, вы можете вернуть ее для получения полного возмещения в течение 30 дней с момента покупки.</p>
  <h2>Служба поддержки клиентов</h2>
  <p>Наша служба поддержки клиентов доступна 24/7, чтобы помочь вам с любыми вопросами или озабоченностями, которые могут у вас возникнуть. Вы можете связаться с нами по телефону +7-(777)-777-77-77 или по электронной почте at <a href="mailto:info@sneakers.com">info@sneakers.com</a>.</p>
</div>
{% endblock %}